In [184]:
import pandas as pd
import numpy
import scipy
import string
import csv

###Import data and yield well-formatted rows.

In [185]:
def flattened(list):
    return [ b for a in list for b in a ]

In [190]:
f = open('data/tdf_data.csv')
def tdf_table_rows():
    for line in f:
        line = [ e.split(',') for e in line.split(' ') ]
        line = str.replace("_", " ");
        line = flattened(line)
        line = [ string.rstrip(a,'\n') for a in line ]
        yield line

In [191]:
data = {}

In [192]:
for line in tdf_table_rows():
    for year in line[1:]:
        if year not in data:
            data[year] = {}
        if line[0] not in data[year]:
            data[year][line[0]] = 0
        data[year][line[0]] += 1

TypeError: replace() takes at least 2 arguments (1 given)

###Get the year, country, and date out of the dictionary.

In [157]:
year = []
country = []
num_riders = []
for key,val in data.items():
    for key2 in val:
        year.append(key)
        country.append(key2)
        num_riders.append(val[key2])

###Put the data into a dataframe.

In [176]:
index = range(1,len(year)+1)
columns = []
df = pd.DataFrame(index=index, columns=columns)
df['year'] = year
df['country'] = country
df['num_riders'] = num_riders

In [182]:
df.to_csv('tdf_data.csv')